:root {
  --ui-bg: rgba(255,255,255,0.95);
  --accent: #222;
  
  --bg: #F5F3EE;
  --dark: #20332B;
  --accent: #E6C031;
  --highlight: #B64939;

}

* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #415E5A;
  font-family: Inter, Arial, sans-serif;
  overflow-x: hidden;
}

/* ---------------- HEADER ---------------- */

#headerBar {
    width: 100vw;
    height: 60px;
    background: var(--bg);
    border-bottom: 2px solid rgba(32, 51, 43, 0.15);
    padding: 14px 32px;
    
  

    position: fixed;

    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Sinistra - centro - destra */
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    white-space: nowrap;   /* Evita che i link vadano a capo */
    overflow-x: hidden;    /* Previene qualsiasi scroll orizzontale */
}

.header-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  
}
.header-left {
    justify-self: start;
}
#headerBar h1 {
  font-family: 'Spectral', serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark);
    text-decoration: none;
    white-space: nowrap;
}



.header-right {
    justify-self: end;
    display: flex;
    gap: 20px;
}

/* HOME BUTTON */
.nav-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;

    padding: 10px 18px;
    border-radius: 20px;
    border: 2px solid var(--dark);
    background: transparent;
    color: var(--dark);
    text-decoration: none;

    transition: all 0.25s ease;
}

.nav-btn:hover {
    background: var(--dark);
    color: var(--bg);
    transform: translateY(-2px);
}

/* MENU LINK */
.nav-link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--dark);
    position: relative;
}

/* underline animata */
.nav-link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--accent);
    transition: width 0.25s ease;
}

.nav-link:hover::after {
    width: 100%;
}


/* ---------------- TIMELINE ---------------- */


#timelineWrapper {
  width: 80%;
  align-self: center;          
  display: flex; 
  padding-top: 100px; 
}


#timelineContainer {
  width: 100%;
  display: flex;
  align-self: center; 
  
 
  
  color: #f7030300;
  
  

}
#topControls {
  position: fixed;
  top: 5px;                /* esattamente sotto l’header */
  width: 100%;
  background: transparent;
  z-index: 999;
  padding-top: 0px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  
  border-bottom: transparent;
}

#dropdownContainer {
  width: 89%;               
  padding: 20px;
  display:flex;
  
  justify-content: flex-end; 
  
}
#countrySelect {
  
  font-size: 1 rem;
  border-radius: 6px;
}

/* Rimuove lo stile nativo */
#yearSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  align-self: center;
  background: #4A4458;
  cursor: pointer;
}

/* TRACK — Chrome/Safari/Edge */
#yearSlider::-webkit-slider-runnable-track {
  height: 6px;
  background: #4A4458;       /* colore linea */
  border-radius: 60%;
}

/* THUMB — Chrome/Safari/Edge */
#yearSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 3px;
  background: #D0BCFF;       /* colore thumb */
  border-radius: 20%;        /* forma → cerchio */
  border: 3px solid #D0BCFF;   /* bordo */
  margin-top: -12px;          /* centra il thumb sul track */
  transition: 0.25s;
}

/* Effetto hover */
#yearSlider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

/* ACTIVE (mentre si trascina) */
#yearSlider:active::-webkit-slider-thumb {
  background: #20332B;
}

/* ------------------- FIREFOX ------------------- */

#yearSlider::-moz-range-track {
  height: 6px;
  background: #BDBDBD;
  border-radius: 10px;
}

#yearSlider::-moz-range-thumb {
  height: 22px;
  width: 22px;
  background: #EC3434;
  border-radius: 50%;
  border: 3px solid white;
  transition: 0.25s;
}

#yearSlider::-moz-range-thumb:hover {
  transform: scale(1.2);
}
#yearLableWrap {
  
  
  align-self: center;
  color: #ed1212;

}

#yearLable {
  
  align-self: center;
  color: #ed1212;
  font-weight: 1rem;

}

/* ---------------- CANVAS ---------------- */

#canvasContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 190px;   
  padding-bottom: 100px;
  overflow: scroll;
  
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 720px) {
  #headerBar h1 { font-size: 26px; }
}

/* ---------------- BACKGROUND ---------------- */

/*body {
  background-image: url("assets/sfondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
