:root {
  --ui-bg: rgba(255,255,255,0.95);
  --accent: #222;
  
  --bg: #F5F3EE;
  --dark: #20332B;
  --accent: #E6C031;
  --highlight: #B64939;

}

* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: Inter, Arial, sans-serif;
  overflow-x: hidden;
}

/* ---------------- HEADER ---------------- */

#headerBar {
    width: 100vw;
    height: 100px;
    background: var(--bg);
    border-bottom: 2px solid rgba(32, 51, 43, 0.15);
    padding: 14px 32px;

    position: fixed;

    display: grid;
    grid-template-columns: 2fr auto 2fr; /* Sinistra - centro - destra */
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    white-space: nowrap;   /* Evita che i link vadano a capo */
    overflow-x: hidden;    /* Previene qualsiasi scroll orizzontale */
}

.header-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 5px;
}
.header-left {
    justify-self: start;
}
#headerBar h1 {
  font-family: 'Spectral', serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark);
    text-decoration: none;
    white-space: nowrap;
}

#countrySelect {
  font-size: 1 rem;
  
  border-radius: 6px;
}

.header-right {
    justify-self: end;
    display: flex;
    gap: 20px;
}

/* HOME BUTTON */
.nav-btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1rem;

    padding: 10px 18px;
    border-radius: 20px;
    border: 2px solid var(--dark);
    background: transparent;
    color: var(--dark);
    text-decoration: none;

    transition: all 0.25s ease;
}

.nav-btn:hover {
    background: var(--dark);
    color: var(--bg);
    transform: translateY(-2px);
}

/* MENU LINK */
.nav-link {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--dark);
    position: relative;
}

/* underline animata */
.nav-link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--accent);
    transition: width 0.25s ease;
}

.nav-link:hover::after {
    width: 100%;
}


/* ---------------- TIMELINE ---------------- */

#timelineContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  
  align-self: center;
  gap: 8px;
  color: #f7030300;
}

#yearSlider {
  width:100%;
  max-width: 3000px;
  align-self: center;
  color: #ed1212;

}


/* ---------------- CANVAS ---------------- */

#canvasContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;   /* altezza header completa */
  padding-bottom: 100px;
  overflow: scroll;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 720px) {
  #headerBar h1 { font-size: 26px; }
}

/* ---------------- BACKGROUND ---------------- */

/*body {
  background-image: url("assets/sfondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
