:root {
  --ui-bg: rgba(255,255,255,0.95);
  --accent: #222;
}

* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: Inter, Arial, sans-serif;
  overflow-x: hidden;
}

/* ---------------- HEADER ---------------- */

#headerBar {
  width: 100%;
  background: rgba(255, 255, 255, 0.463);
  
  padding: 16px 0 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
  
}

/* — parte alta header */
#headerTop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 12px;
}

#headerBar h1 {
  font-size: 36px;
  color: #f10707;
}

#countrySelect {
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 6px;
}

/* Bottone */
a.button {
  padding: 12px 24px;
  background: transparent;
  border: 2px solid #EC3434;
  color: #EC3434;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
a.button:hover {
  background: #EC3434;
  color: #ffffff;
  transform: translateY(-2px);
}

/* ---------------- TIMELINE ---------------- */

#timelineContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #f7030300;
}

#yearSlider {
  width: 90%;
  max-width: 1200px;
  

}


/* ---------------- CANVAS ---------------- */

#canvasContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;   /* altezza header completa */
  padding-bottom: 100px;
  overflow: scroll;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 720px) {
  #headerBar h1 { font-size: 26px; }
}

/* ---------------- BACKGROUND ---------------- */

body {
  background-image: url("assets/sfondo.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
